@font-face {font-family:Hotpoint; font-weight:400; font-style:normal; font-display:swap; src:url("fonts/Hotpoint/Hotpoint-Regular.ttf") format("truetype")}
@font-face {font-family:Hotpoint; font-weight:500; font-style:normal; font-display:swap; src:url("fonts/Hotpoint/Hotpoint-Medium.ttf") format("truetype")}
@font-face {font-family:Hotpoint; font-weight:700; font-style:normal; font-display:swap; src:url("fonts/Hotpoint/Hotpoint-Bold.ttf") format("truetype")}
@font-face {font-family:DigitalDisplay; font-weight:400; font-style:normal; font-display:swap; src:url("fonts/Digital-Display.ttf") format("truetype")}
@font-face {font-family:JetBrainsMono; font-weight:400; font-style:normal; font-display:swap; src:url("fonts/JetBrainsMono-Regular.ttf") format("truetype")}

.land-induction-wrapper,
.land-induction-wrapper *,
.land-induction-wrapper *::before,
.land-induction-wrapper *::after {outline:none; box-sizing:border-box; font-family:Hotpoint, sans-serif; letter-spacing:0}

.land-induction-wrapper {background:#000000; position:relative; overflow:hidden; width:100%; padding:0 0 120px 0}
.land-induction-wrapper.full {margin-bottom:-160px}

.land-induction-container {margin:0 auto; max-width:1188px; padding:0 10px; width:100%; position:relative}

.land-induction-welcome {position:relative; display:flex; align-items:center; justify-content:center; height:540px; background:url(../img/land-induction-welcome.jpg) no-repeat center top; background-size:auto 540px}
.land-induction-welcome-title {font-weight:500; font-size:36px; line-height:1.3em; color:#FFFFFF}
.land-induction-welcome-btn {margin:40px 0 0 0; display:flex}
.land-induction-welcome-btn a {display:flex; align-items:center; justify-content:center; border:1px solid #C99B69; padding:0 24px; color:#C99B69; font-weight:500; font-size:16px; line-height:16px; height:43px; border-radius:4px; text-decoration:none; transition:background 0.2s, color 0.2s, border-color 0.2s; text-transform:uppercase}
@media (min-width:1188px) {
    .land-induction-welcome-btn a:hover {color:#FFFFFF; border-color:#C99B69; background:#C99B69}
}

@media (max-width:1187px) {
    .land-induction-welcome {display:block; height:540px; padding:40px 0 0 0; text-align:center; background:url(../img/land-induction-welcome-mobile.jpg) no-repeat center bottom; background-size:cover}
    .land-induction-welcome::before {content:""; position:absolute; left:0; top:0; right:0; bottom:0; background:linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 45.45%)}
    .land-induction-welcome-title {font-size:24px; line-height:1.2em}
    .land-induction-welcome-btn {margin:20px 0 0 0; display:block}
}

.land-induction-menu {margin:40px 0 0 0}
.land-induction-menu-list {display:flex; align-items:center; justify-content:center}
.land-induction-menu-item {font-weight:500; font-size:18px; line-height:27px}
.land-induction-menu-item a {color:#C99B69; text-decoration:none; transition:color 0.2s}
@media (min-width:1188px) {
    .land-induction-menu-item a:hover {color:#FFFFFF}
}
.land-induction-menu-sep {margin:0 40px; width:1px; height:27px; background:rgba(255, 255, 255, 0.2)}

@media (max-width:1187px) {
    .land-induction-menu {display:none}
}

.land-induction-design {margin:120px 0 0 0; height:300vh}
.land-induction-design-container {position:relative; height:100vh}
.land-induction-design.fixed .land-induction-design-container {position:fixed; left:0; top:20px; right:0}
.land-induction-wrapper.full .land-induction-design.fixed .land-induction-design-container {top:169px}
.land-induction-design-item {position:absolute; left:0; top:0; right:0; opacity:0; transition:opacity 1s}
.land-induction-design-item.active {opacity:1}
.land-induction-design-item-title {text-align:center; font-weight:bold; font-size:36px; line-height:43px; color:#FFFFFF}
.land-induction-design-item-text {margin:20px auto 0 auto; max-width:648px; text-align:center; font-weight:500; font-size:16px; line-height:1.5em; color:#FFFFFF}
.land-induction-design-item:nth-child(1) .land-induction-design-item-text {max-width:818px}

@media (max-width:1187px) {
    .land-induction-design {margin:40px 0 0 0; height:900vh}
    .land-induction-design.fixed .land-induction-design-container {position:fixed; left:0; top:40px; right:0}
    .land-induction-wrapper.full .land-induction-design.fixed .land-induction-design-container {top:92px}
    .land-induction-design-item-title {font-size:24px; line-height:29px}
    .land-induction-design-item-text {font-size:15px; line-height:23px}
    .land-induction-design-item-text br {display:none}
}

.land-induction-design-item-func {margin:30px auto 0 auto; display:flex; max-width:750px}
.land-induction-design-item-func-item {margin:0 10px; min-width:calc(33.33% - 20px); max-width:calc(33.33% - 20px)}
.land-induction-design-item-func-item-img {position:relative}
.land-induction-design-item-func-item-img img {display:block; width:100%}
.land-induction-design-item-func-item-title {margin:20px 0 0 0; text-align:center; font-weight:500; font-size:16px; line-height:1.2em; color:#FFFFFF}
.land-induction-design-item-func-item-light {position:absolute; transform-origin:left center; transform:scale(0, 1)}
.land-induction-design-item.animate .land-induction-design-item-func-item-light {transform:scale(1, 1)}
.land-induction-design-item-func-item-light-1 {left:36.46%; top:76.56%; width:27.97%; transition:transform 0.5s 1s}
.land-induction-design-item-func-item-light-2 {left:56.62%; top:77.5%; width:33.14%; transition:transform 0.5s 1.2s}
.land-induction-design-item-func-item-light-3 {left:56.62%; top:79.06%; width:28.72%; transition:transform 0.5s 1.4s}

@media (max-width:1187px) {
    .land-induction-design-item-func {margin:30px 0 0 0; display:block; position:relative}
    .land-induction-design-item-func-item {min-width:0; max-width:none; position:absolute; display:flex; flex-direction:column; left:0; top:0; right:0; opacity:0; height:100vh; transition:opacity 1s}
    .land-induction-design-item-func-item.active {opacity:1}
    .land-induction-design-item-func-item-img {width:260px; margin:0 auto}
    .land-induction-design-item-func-item-title {font-size:15px; line-height:18px}
}

.land-induction-design-item-borders {margin:30px auto 0 auto; display:flex; max-width:750px}
.land-induction-design-item-borders-item {margin:0 10px; min-width:calc(25% - 20px); max-width:calc(25% - 20px)}
.land-induction-design-item-borders-item-img {position:relative; overflow:hidden}
.land-induction-design-item-borders-item-img img {display:block; width:100%}
.land-induction-design-item-borders-item-title {margin:20px 0 0 0; text-align:center; font-weight:500; font-size:16px; line-height:1.2em; color:#FFFFFF}
.land-induction-design-item-borders-item-light-2 {position:absolute; left:0; bottom:0; width:200%; height:3px; background:linear-gradient(90deg, rgba(201, 155, 105, 0) 0%, #C99B69 50%, #C99B69 100%); transition:transform 0.5s 1s; transform:translateX(100%)}
.land-induction-design-item.active .land-induction-design-item-borders-item-light-2 {transform:translateX(-50%)}
.land-induction-design-item-borders-item-light-3-1 {position:absolute; left:0; bottom:0; width:200%; height:3px; background:linear-gradient(90deg, rgba(201, 155, 105, 0) 0%, #C99B69 50%, #C99B69 100%); transition:transform 0.5s 1s; transform:translateX(100%)}
.land-induction-design-item.active .land-induction-design-item-borders-item-light-3-1 {transform:translateX(-50%)}
.land-induction-design-item-borders-item-light-3-2 {position:absolute; left:0; top:0; height:200%; width:3px; background:linear-gradient(-180deg, rgba(201, 155, 105, 0) 0%, #C99B69 50%, #C99B69 100%); transition:transform 0.5s 1.25s; transform:translateY(100%)}
.land-induction-design-item.active .land-induction-design-item-borders-item-light-3-2 {transform:translateY(-50%)}
.land-induction-design-item-borders-item-light-3-3 {position:absolute; right:0; top:0; height:200%; width:3px; background:linear-gradient(-180deg, rgba(201, 155, 105, 0) 0%, #C99B69 50%, #C99B69 100%); transition:transform 0.5s 1.25s; transform:translateY(100%)}
.land-induction-design-item.active .land-induction-design-item-borders-item-light-3-3 {transform:translateY(-50%)}
.land-induction-design-item-borders-item-light-4-1 {position:absolute; left:0; bottom:0; width:200%; height:3px; background:linear-gradient(90deg, #C99B69 0%, #C99B69 50%, rgba(201, 155, 105, 0) 100%); transition:transform 0.5s 1s; transform:translateX(-100%)}
.land-induction-design-item.active .land-induction-design-item-borders-item-light-4-1 {transform:translateX(0%)}
.land-induction-design-item-borders-item-light-4-2 {position:absolute; left:0; top:0; height:200%; width:3px; background:linear-gradient(-180deg, rgba(201, 155, 105, 0) 0%, #C99B69 50%, #C99B69 100%); transition:transform 0.5s 1s; transform:translateY(100%)}
.land-induction-design-item.active .land-induction-design-item-borders-item-light-4-2 {transform:translateY(-50%)}
.land-induction-design-item-borders-item-light-4-3 {position:absolute; right:0; top:0; height:200%; width:3px; background:linear-gradient(-180deg, rgba(201, 155, 105, 0) 0%, #C99B69 50%, #C99B69 100%); transition:transform 0.5s 1.25s; transform:translateY(100%)}
.land-induction-design-item.active .land-induction-design-item-borders-item-light-4-3 {transform:translateY(-50%)}
.land-induction-design-item-borders-item-light-4-4 {position:absolute; left:0; top:0; width:200%; height:3px; background:linear-gradient(90deg, #C99B69 0%, #C99B69 50%, rgba(201, 155, 105, 0) 100%); transition:transform 0.5s 1.25s; transform:translateX(-100%)}
.land-induction-design-item.active .land-induction-design-item-borders-item-light-4-4 {transform:translateX(0%)}

@media (max-width:1187px) {
    .land-induction-design-item-borders {margin:30px 0 0 0; display:block; position:relative}
    .land-induction-design-item-borders-item {min-width:0; max-width:none; position:absolute; left:0; top:0; right:0; opacity:0; transition:opacity 1s}
    .land-induction-design-item-borders-item.active {opacity:1}
    .land-induction-design-item-borders-item-img {width:260px; margin:0 auto}
    .land-induction-design-item-borders-item-title {font-size:15px; line-height:18px}
}

.land-induction-design-item-zones {margin:30px auto 0 auto; width:270px; position:relative}
.land-induction-design-item-zones-panel img {display:block; width:100%}
.land-induction-design-item-zones-crockery {position:absolute; left:0; top:0; right:0; bottom:0; opacity:0}
.land-induction-design-item.animate .land-induction-design-item-zones-crockery {opacity:1}
.land-induction-design-item-zones-crockery img {display:block; width:100%}
.land-induction-design-item-zones-crockery-1 {transition:opacity 0.5s 1s}
.land-induction-design-item-zones-crockery-2 {transition:opacity 0.5s 1.2s}
.land-induction-design-item-zones-crockery-3 {transition:opacity 0.5s 1.4s}
.land-induction-design-item-zones-crockery-4 {transition:opacity 0.5s 1.6s}

@media (max-width:1187px) {
    .land-induction-design-item-zones {margin:30px auto 0 auto; width:260px}
}

.land-induction-comfort {margin:120px 0 0 0}
.land-induction-comfort-title {text-align:center; font-weight:bold; font-size:36px; line-height:43px; color:#FFFFFF}
.land-induction-comfort-slider {position:relative; margin:40px 0 0 0; border-radius:12px; background:#3B3939; padding:177px 0 20px 0; overflow:hidden}
.land-induction-comfort-slider-list {position:relative}
@media (min-width:1188px) {
    .land-induction-comfort-slider-list {height:400px !important}
}
.land-induction-comfort-slider-item {position:absolute; left:0; top:0; right:0; opacity:0; padding:0 40px; height:400px; transition:opacity 0.5s; display:flex; align-items:flex-start; justify-content:space-between; flex-direction:row-reverse}
.land-induction-comfort-slider-item.active {opacity:1}
.land-induction-comfort-slider-item-title-mobile {display:none}
.land-induction-comfort-slider-item-img {align-self:flex-end; min-width:487px; max-width:487px; position:relative}
.land-induction-comfort-slider-item-img-bg img {display:block; width:100%; border-radius:16px}
.land-induction-comfort-slider-item-img-handle {position:absolute; width:60px; height:60px; background:url(../img/land-induction-comfort-slider-handle.svg) no-repeat; background-size:100%; animation:handleanimate 1s infinite linear; opacity:0}
@keyframes handleanimate {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
.land-induction-comfort-slider-item-img-handle-1 {left:434px; top:288px}
.land-induction-comfort-slider-item-1-digit {position:absolute; left:330px; top:274px; width:65px; height:40px; display:flex; align-items:center; justify-content:center; color:#9E0900; font:40px/40px DigitalDisplay, sans-serif}
.land-induction-comfort-slider-item-img-handle-2 {left:284px; top:305px}
.land-induction-comfort-slider-item-2-digits {position:absolute; left:326px; top:200px; width:106px; height:52px; display:flex; align-items:center; justify-content:center; color:#9E0900; font:30px/30px JetBrainsMono, sans-serif}
.land-induction-comfort-slider-item-img-handle-3 {left:314px; top:340px}
.land-induction-comfort-slider-item-img-3-pause {position:absolute; left:0; top:0; right:0; opacity:0}
.land-induction-comfort-slider-item-img-3-pause img {display:block; width:100%}
.land-induction-comfort-slider-item-img-3-crockery {position:absolute; left:0; top:0; right:0}
.land-induction-comfort-slider-item-img-3-crockery img {display:block; width:100%}
.land-induction-comfort-slider-item-img-3-steam {position:absolute; left:0; top:0; right:0}
.land-induction-comfort-slider-item-img-3-steam img {display:block; width:100%}
.land-induction-comfort-slider-item-img-handle-4 {left:273px; top:350px}
.land-induction-comfort-slider-item-img-4-border {position:absolute; left:51px; top:73px; width:148px; height:300px; border:2px dashed #C99B69; opacity:0}
.land-induction-comfort-slider-item-img-4-crockery {position:absolute; left:0; top:0; right:0; opacity:0}
.land-induction-comfort-slider-item-img-4-crockery img {display:block; width:100%}
.land-induction-comfort-slider-item-img-4-ctrl {position:absolute; left:0; top:0; right:0; opacity:0}
.land-induction-comfort-slider-item-img-4-ctrl img {display:block; width:100%}
.land-induction-comfort-slider-item-img-handle-5 {left:387px; top:352px}
.land-induction-comfort-slider-item-img-5-crockery-1 {position:absolute; left:0; top:0; right:0}
.land-induction-comfort-slider-item-img-5-crockery-1 img {display:block; width:100%}
.land-induction-comfort-slider-item-img-5-crockery-2 {position:absolute; left:0; top:0; right:0; opacity:0}
.land-induction-comfort-slider-item-img-5-crockery-2 img {display:block; width:100%}
.land-induction-comfort-slider-item-img-5-crockery-3 {position:absolute; left:0; top:0; right:0; opacity:0}
.land-induction-comfort-slider-item-img-5-crockery-3 img {display:block; width:100%}
.land-induction-comfort-slider-item-img-5-steam {position:absolute; left:0; top:0; right:0}
.land-induction-comfort-slider-item-img-5-steam img {display:block; width:100%; position:absolute; left:0; top:0; opacity:0}
.land-induction-comfort-slider-item-img-5-steam.animate img:nth-child(1) {animation:land-induction-comfort-slider-item-img-5-steam 2s infinite linear}
.land-induction-comfort-slider-item-img-5-steam.animate img:nth-child(2) {animation:land-induction-comfort-slider-item-img-5-steam 2s 1s infinite linear}
.land-induction-comfort-slider-item-img-5-steam.animate img:nth-child(3) {animation:land-induction-comfort-slider-item-img-5-steam 2s 2s infinite linear}
@keyframes land-induction-comfort-slider-item-img-5-steam {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1
    }
}

.land-induction-comfort-slider-item-info {min-width:495px; max-width:495px; padding:30px 0 0 0}
.land-induction-comfort-slider-item-title {font-weight:bold; font-size:24px; line-height:29px; color:#FFFFFF}
.land-induction-comfort-slider-item-title sup {vertical-align:top; font-size:0.6em; line-height:1em; position:relative; top:4px}
.land-induction-comfort-slider-item-text {margin:20px 0 0 0; font-weight:500; font-size:18px; line-height:27px; color:#FFFFFF}
.land-induction-comfort-slider-item-text sup {vertical-align:top; font-size:0.6em; line-height:1em; position:relative; top:4px}
.land-induction-comfort-slider-menu {margin:0; display:flex; position:absolute; left:40px; top:20px; right:40px}
.land-induction-comfort-slider-menu-item {min-width:calc(20% - 10px); max-width:calc(20% - 10px); margin:0 5px; padding:20px 0; transition:background 0.2s; border-radius:5px; cursor:pointer}
.land-induction-comfort-slider-menu-item.active {background:#0D0D0D}
.land-induction-comfort-slider-menu-item-icon {width:60px; margin:0 auto; position:relative}
.land-induction-comfort-slider-menu-item-icon svg {display:block; width:60px; height:60px; fill:#FFFFFF; stroke:#FFFFFF; transition:fill 0.2s, stroke 0.2s}
@media (min-width:1188px) {
    .land-induction-comfort-slider-menu-item:hover .land-induction-comfort-slider-menu-item-icon svg {fill:#C99B69; stroke:#C99B69}
}
.land-induction-comfort-slider-menu-item.active .land-induction-comfort-slider-menu-item-icon svg {fill:#C99B69; stroke:#C99B69}
.land-induction-comfort-slider-menu-item-icon::before {content:""; position:absolute; left:0; top:0; right:0; bottom:0; border:1px solid rgba(255, 255, 255, 0.15); border-radius:50%}
.land-induction-comfort-slider-menu-item-title {margin:10px 0 0 0; text-align:center; font-weight:500; font-size:16px; line-height:27px; color:#FFFFFF; transition:color 0.2s}
@media (min-width:1188px) {
    .land-induction-comfort-slider-menu-item:hover .land-induction-comfort-slider-menu-item-title {color:#C99B69}
}
.land-induction-comfort-slider-menu-item.active .land-induction-comfort-slider-menu-item-title {color:#C99B69}
.land-induction-comfort-slider-menu-item-title sup {vertical-align:top; font-size:0.6em; line-height:1em; position:relative; top:4px}

@media (max-width:1187px) {
    .land-induction-comfort {margin:80px 0 0 0}
    .land-induction-comfort-title {font-size:24px; line-height:29px}
    .land-induction-comfort-slider {position:relative; padding:31.25vw 15px 15px 15px; margin:30px -10px 0 -10px}
    .land-induction-comfort-slider-list {height:auto}
    .land-induction-comfort-slider-item {padding:0; display:block; height:auto}
    .land-induction-comfort-slider-item-title-mobile {display:block; text-align:center; font-size:20px; line-height:24px; font-weight:bold; color:#FFFFFF}
    .land-induction-comfort-slider-item-title-mobile sup {vertical-align:top; font-size:0.6em; line-height:1em; position:relative; top:4px}
    .land-induction-comfort-slider-item-img {min-width:290px; max-width:290px; margin:20px auto 0 auto}
    .land-induction-comfort-slider-item-img-bg img {border-radius:5px}
    .land-induction-comfort-slider-item-img-handle {width:24px; height:24px}
    .land-induction-comfort-slider-item-img-handle-1 {left:260px; top:174px}
    .land-induction-comfort-slider-item-1-digit {left:212px; top:167px; width:auto; height:auto; display:block; font-size:20px; line-height:20px}
    .land-induction-comfort-slider-item-img-handle-2 {left:172px; top:184px}
    .land-induction-comfort-slider-item-2-digits {left:195px; top:119px; width:63px; height:31px; font-size:18px; line-height:20px}
    .land-induction-comfort-slider-item-img-handle-3 {left:195px; top:210px}
    .land-induction-comfort-slider-item-img-handle-4 {left:167px; top:216px}
    .land-induction-comfort-slider-item-img-4-border {left:31px; top:14px; width:88px; height:179px; border-width:1px}
    .land-induction-comfort-slider-item-img-4-crockery {top:-30px}
    .land-induction-comfort-slider-item-img-handle-5 {left:237px; top:215px}
    .land-induction-comfort-slider-item-info {min-width:0; max-width:none; margin:20px 0 0 0; text-align:center; padding:0}
    .land-induction-comfort-slider-item-title {display:none}
    .land-induction-comfort-slider-item-text {margin:15px 0 0 0; font-size:15px; line-height:21px}
    .land-induction-comfort-slider-menu {margin:0; position:absolute; left:15px; top:15px; right:15px}
    .land-induction-comfort-slider-menu-item {min-width:20%; max-width:20%; margin:0; padding:10px 6px}
    .land-induction-comfort-slider-menu-item-icon {width:100%}
    .land-induction-comfort-slider-menu-item-icon svg {width:100%; height:100%}
    .land-induction-comfort-slider-menu-item-title {display:none}
}

.land-induction-security {margin:120px 0 0 0}
.land-induction-security-title {text-align:center; font-weight:bold; font-size:36px; line-height:43px; color:#FFFFFF}
.land-induction-security-container {margin:40px auto 0 auto; width:382px; position:relative}
.land-induction-security-img img {display:block; width:100%}
.land-induction-security-point {position:absolute; cursor:pointer}
.land-induction-security-point-1 {left:-18px; top:237px}
.land-induction-security-point-2 {left:179px; top:334px}
.land-induction-security-point-3 {left:366px; top:135px}
.land-induction-security-point-icon {position:absolute; left:0; top:0; width:36px; height:36px; background:rgba(255, 255, 255, 0.5); border-radius:50%; transition:background 0.2s}
@media (min-width:1188px) {
    .land-induction-security-point:hover .land-induction-security-point-icon {background:rgba(206, 164, 118, 0.5)}
}
.land-induction-security-point-icon::before {content:""; position:absolute; left:6px; top:6px; width:24px; height:24px; background:rgba(255, 255, 255, 0.5); border-radius:50%; transition:background 0.2s}
@media (min-width:1188px) {
    .land-induction-security-point:hover .land-induction-security-point-icon::before {background:rgba(206, 164, 118, 0.5)}
}
.land-induction-security-point-icon::after {content:""; position:absolute; left:12px; top:12px; width:12px; height:12px; background:#FFFFFF; border-radius:50%}
.land-induction-security-point-title {position:absolute; top:0; font-weight:500; font-size:24px; line-height:29px; color:#FFFFFF; padding:0 0 15px 0; transition:color 0.2s}
.land-induction-security-point-1 .land-induction-security-point-title {right:11px; width:298px}
.land-induction-security-point-2 .land-induction-security-point-title {left:46px; width:298px}
.land-induction-security-point-3 .land-induction-security-point-title {left:46px; width:298px}
@media (min-width:1188px) {
    .land-induction-security-point:hover .land-induction-security-point-title {color:#C99B69}
}
.land-induction-security-point-text {position:absolute; top:73px; font-size:14px; line-height:21px; color:#FFFFFF; background:rgba(0, 0, 0, 0.8); border:1px solid rgba(255, 255, 255, 0.2); border-radius:10px; padding:15px; display:none}
@media (min-width:1188px) {
    .land-induction-security-point:hover .land-induction-security-point-text {display:block}
}
.land-induction-security-point-1 .land-induction-security-point-text {right:-24px; width:333px}
.land-induction-security-point-2 .land-induction-security-point-text {left:46px; width:370px}
.land-induction-security-point-3 .land-induction-security-point-text {left:46px; width:271px}
.land-induction-security-info-mobile {display:none}

@media (max-width:1187px) {
    .land-induction-security {margin:80px 0 0 0}
    .land-induction-security-title {font-size:24px; line-height:29px}
    .land-induction-security-container {margin:26px auto 0 auto; width:240px}
    .land-induction-security-point {cursor:pointer}
    .land-induction-security-point.active .land-induction-security-point-icon {background:rgba(206, 164, 118, 0.5)}
    .land-induction-security-point.active .land-induction-security-point-icon::before {background:rgba(206, 164, 118, 0.5)}
    .land-induction-security-point-1 {left:7px; top:137px}
    .land-induction-security-point-2 {left:102px; top:189px}
    .land-induction-security-point-3 {left:224px; top:87px}
    .land-induction-security-point-title {display:none}
    .land-induction-security-point-text {display:none}
    .land-induction-security-info-mobile {margin:19px 20px 0 20px; padding:10px; background:rgba(0, 0, 0, 0.9); border:1px solid rgba(255, 255, 255, 0.2); border-radius:10px}
    .land-induction-security-info-mobile.active {display:block}
    .land-induction-security-info-mobile-title {font-weight:500; font-size:20px; line-height:24px; color:#C99B69}
    .land-induction-security-info-mobile-text {margin:10px 0 0 0; font-size:14px; line-height:21px; color:#FFFFFF}
}

.land-induction-catalogue {margin:239px 0 0 0}
.land-induction-catalogue-logo {display:flex; justify-content:center}
.land-induction-catalogue-logo img {width:142px}
.land-induction-catalogue-title {margin:20px 0 0 0; text-align:center; font-weight:bold; font-size:36px; line-height:43px; color:#FFFFFF}
.land-induction-catalogue-container {margin:40px 0 0 0; position:relative; min-height:475px}
.land-induction-catalogue-filter-link {display:none}
.land-induction-catalogue-filter-left {position:absolute; left:0; top:0; width:376px; border:1px solid rgba(223, 223, 223, 0.25); border-radius:10px; padding:20px}
.land-induction-catalogue-filter-right {position:absolute; right:0; top:0; width:376px; border:1px solid rgba(223, 223, 223, 0.25); border-radius:10px; padding:20px}
.land-induction-catalogue-filter-group {margin:40px 0 0 0}
.land-induction-catalogue-filter-group:first-child {margin:0}
.land-induction-catalogue-filter-group-title {font-weight:500; font-size:14px; line-height:21px; color:#FFFFFF; text-transform:uppercase}
.land-induction-catalogue-filter-group-selected {display:none}
.land-induction-catalogue-filter-group-content {margin:15px 0 0 0}
.land-induction-catalogue-filter-item {margin:10px 0 0 0; display:flex}
.land-induction-catalogue-filter-item:first-child {margin:0}
.land-induction-catalogue-filter-item label {display:flex; cursor:pointer}
.land-induction-catalogue-filter-item label input {display:none}
.land-induction-catalogue-filter-item label span {display:block; position:relative; padding:0 0 0 30px; color:#FFFFFF; font-size:14px; line-height:21px; transition:color 0.2s}
@media (min-width:1188px) {
    .land-induction-catalogue-filter-item label span:hover {color:#C99B69}
}
.land-induction-catalogue-filter-item label span::before {content:""; position:absolute; left:0; top:1px; width:20px; height:20px; border:1px solid rgba(227, 227, 227, 0.5); border-radius:2px; background:url(../img/land-induction-checkbox.svg) no-repeat -999px -999px; transition:background-color 0.2s, border-color 0.2s}
.land-induction-catalogue-filter-item label input:checked+span::before {background-color:#C99B69; border-color:#C99B69; background-position:center}
.land-induction-catalogue-filter-item label span em {font-style:normal; font-size:0.6em; line-height:1em; vertical-align:top; position:relative; top:4px}
.land-induction-catalogue-filter-ctrl {display:none}
.land-induction-catalogue-slider {width:376px; margin:0 auto}
.land-induction-catalogue-slider-item {padding:0 24px 24px 24px; background:#3B3939; border-radius:12px}
.land-induction-catalogue-slider-item-preview {height:260px; display:flex; align-items:center; justify-content:center}
.land-induction-catalogue-slider-item-preview img {display:block; max-width:100%; max-height:100%}
.land-induction-catalogue-slider-item-title {margin:-10px 0 0 0; text-align:center; color:#FFFFFF; font-weight:500; font-size:20px; line-height:30px}
.land-induction-catalogue-slider-item-btn {margin:20px 0 0 0}
.land-induction-catalogue-slider-item-btn a {display:flex; align-items:center; justify-content:center; border:1px solid #C99B69; color:#C99B69; font-weight:500; font-size:16px; line-height:24px; height:51px; border-radius:4px; text-decoration:none; transition:background 0.2s, color 0.2s, border-color 0.2s; text-transform:uppercase}
@media (min-width:1188px) {
    .land-induction-catalogue-slider-item-btn a:hover {color:#FFFFFF; border-color:#C99B69; background:#C99B69}
}
.land-induction-catalogue-slider-empty {padding:24px 20px; border-radius:12px; background:#3B3939}
.land-induction-catalogue-slider-empty-preview {padding:0 23px 0 23px; height:260px; display:flex; align-items:center; justify-content:center}
.land-induction-catalogue-slider-empty-preview img {display:block; max-width:100%; max-height:100%}
.land-induction-catalogue-slider-empty-title {margin:20px 0 0 0; text-align:center; font-weight:500; font-size:16px; line-height:24px; color:#FFFFFF}
.land-induction-catalogue-slider-empty-text {margin:10px auto 0 auto; max-width:220px; text-align:center; font-size:14px; line-height:21px; color:rgba(255, 255, 255, 0.5)}
.land-induction-catalogue-slider-ctrl {margin:40px 0 0 0; display:flex; align-items:center}
.land-induction-catalogue-slider-ctrl .swiper-button-prev,
.land-induction-catalogue-slider-ctrl .swiper-button-next {position:relative; display:block; z-index:2; top:auto; min-width:30px; height:30px; border:none; border-radius:0; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:transparent; transform:none; opacity:1; box-shadow:none}
.land-induction-catalogue-slider-ctrl .swiper-button-prev::after,
.land-induction-catalogue-slider-ctrl .swiper-button-next::after {display:none}
.land-induction-catalogue-slider-ctrl .swiper-button-prev {left:auto}
.land-induction-catalogue-slider-ctrl .swiper-button-next {right:auto}
.land-induction-catalogue-slider-ctrl .swiper-button-prev svg,
.land-induction-catalogue-slider-ctrl .swiper-button-next svg {display:block; width:30px; height:30px; fill:#C99B69}
.land-induction-catalogue-slider-ctrl .swiper-button-disabled svg {fill:rgba(255, 255, 255, 0.25)}
.land-induction-catalogue-slider-ctrl .swiper-pagination.swiper-pagination-horizontal {display:flex; position:relative; width:100%; margin:0 10px; left:auto; top:auto; right:auto; bottom:auto; align-items:center; justify-content:center}
.land-induction-catalogue-slider-ctrl .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet {display:block; min-width:10px; max-width:10px; height:10px; background:#191919; opacity:1; margin:0 0 0 36px; border-radius:50%; cursor:pointer; position:relative; transition:min-width 0.2s, max-width 0.2s, height 0.2s, background 0.2s}
.land-induction-catalogue-slider-ctrl .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet:first-child {margin:0}
.land-induction-catalogue-slider-ctrl .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet-active {min-width:16px; max-width:16px; height:16px; background:#C99B69; opacity:1}
.land-induction-catalogue-notice {margin:100px 0 0 0; display:flex}
.land-induction-catalogue-notice-inner {border-top:1px solid rgba(223, 223, 223, 0.25); padding:15px 0 0 0; color:#FFFFFF; font-weight:normal; font-size:14px; line-height:1.5em}
.land-induction-catalogue-notice-item {margin:5px 0 0 0}
.land-induction-catalogue-notice-inner sup {font-size:0.6em; line-height:1em; vertical-align:top; position:relative; top:4px}
.land-induction-catalogue-filter-popup {display:none}

@media (max-width:1187px) {
    .land-induction-catalogue {margin:90px 0 0 0}
    .land-induction-catalogue-title {font-size:24px; line-height:36px}
    .land-induction-catalogue-container {margin:20px 0 0 0; min-height:0}
    .land-induction-catalogue-filter {background:#222222; border:1px solid #323232; border-radius:8px; padding:0 15px 15px 15px}
    .land-induction-catalogue.open .land-induction-catalogue-filter {display:none}
    .land-induction-catalogue.open .land-induction-catalogue-filter-link {display:block}
    .land-induction-catalogue-filter-link a {display:flex; align-items:center; justify-content:center; height:51px; border:1px solid #C99B69; border-radius:4px; color:#C99B69; font-weight:500; font-size:16px; line-height:1em; text-transform:uppercase; text-decoration:none}
    .land-induction-catalogue-filter-link a svg {margin:0 10px 0 0}
    .land-induction-catalogue-filter-link a span {margin:0 0 0 10px; display:none; width:24px; height:24px; background:#C99B69; border-radius:50%; align-items:center; justify-content:center; color:#000000; font-weight:500; font-size:12px; line-height:1em}
    .land-induction-catalogue-filter-link a span.active {display:flex}
    .land-induction-catalogue-filter-left {position:relative; left:auto; top:auto; width:auto; border:none; border-radius:0; padding:0}
    .land-induction-catalogue-filter-right {position:relative; right:auto; top:auto; width:auto; border:none; border-radius:0; padding:0; margin:0}
    .land-induction-catalogue-filter-group {margin:0; border-bottom:1px solid rgba(255, 255, 255, 0.1)}
    .land-induction-catalogue-filter-group-title {font-size:14px; line-height:21px; color:#FFFFFF; position:relative; cursor:pointer; transition:color 0.2s; padding:20px 0}
    .land-induction-catalogue-filter-left .land-induction-catalogue-filter-group:first-child .land-induction-catalogue-filter-group-title {padding:15px 0 20px 0}
    .land-induction-catalogue-filter-group-title::after {content:""; display:block; position:absolute; right:0; top:50%; width:7px; height:13px; margin:-6.5px 0 0 0; background:url(../img/land-induction-catalogue-filter-group-title.svg)}
    .land-induction-catalogue-filter-left .land-induction-catalogue-filter-group:first-child .land-induction-catalogue-filter-group-title::after {margin:-8.5px 0 0 0}
    .land-induction-catalogue-filter-group-selected {flex-wrap:wrap; margin:5px 0 20px -5px; display:flex}
    .land-induction-catalogue-filter-group-selected:empty {margin:0}
    .land-induction-catalogue-filter-group-selected span {margin:5px 0 0 5px; padding:1px 6px; font-weight:normal; font-size:12px; line-height:1.5em; color:#FFFFFF; background:#000000; border-radius:2px}
    .land-induction-catalogue-filter-group-selected span em {font-style:normal; vertical-align:top; font-size:0.6em; line-height:1em}
    .land-induction-catalogue-filter-group-content {display:none}
    .land-induction-catalogue-filter-ctrl {display:flex; margin:20px 0 0 0; justify-content:space-between; align-items:center}
    .land-induction-catalogue-filter-clear {display:flex}
    .land-induction-catalogue-filter-clear a {display:flex; align-items:center; font-weight:500; font-size:12px; line-height:1em; text-transform:uppercase; color:rgba(255, 255, 255, 0.5); text-decoration:none}
    .land-induction-catalogue-filter-clear a svg {margin:0 5px 0 0}
    .land-induction-catalogue-filter-submit {display:flex}
    .land-induction-catalogue-filter-submit a {display:flex; align-items:center; height:51px; border:1px solid #C99B69; padding:0 40px; color:#C99B69; text-decoration:none; font-weight:500; font-size:16px; line-height:1em; text-transform:uppercase; border-radius:4px}
    .land-induction-catalogue-slider {display:none; width:auto; margin:20px 0 0 0}
    .land-induction-catalogue.open .land-induction-catalogue-slider {display:block}
    .land-induction-catalogue-slider .swiper {width:auto; height:auto}
    .land-induction-catalogue-slider .swiper-wrapper {display:block; width:auto}
    .land-induction-catalogue-slider .swiper-slide {width:auto !important; margin:10px 0 0 0}
    .land-induction-catalogue-slider-item {padding:0; border-radius:8px; display:flex; align-items:center}
    .land-induction-catalogue-slider-item-preview {height:auto; min-height:0; min-width:160px; max-width:160px}
    .land-induction-catalogue-slider-item-content {margin:0 10px 0 5px}
    .land-induction-catalogue-slider-item-title {margin:0; font-size:12px; line-height:18px; text-align:left}
    .land-induction-catalogue-slider-item-btn {margin:16px 0 0 0}
    .land-induction-catalogue-slider-item-btn a {display:inline; border:none; font-size:10px; line-height:15px; height:auto; border-radius:0}
    .land-induction-catalogue-slider-empty {padding:0; border-radius:8px; display:flex; align-items:center}
    .land-induction-catalogue-slider-empty-preview {min-height:0; min-width:160px; max-width:160px}
    .land-induction-catalogue-slider-empty-title {margin:0; font-size:10px; line-height:15px; text-align:left}
    .land-induction-catalogue-slider-empty-text {margin:10px 0 0 0; font-size:10px; line-height:15px; text-align:left}
    .land-induction-catalogue-slider-ctrl {display:none}
    .land-induction-catalogue-notice {margin:80px 0 0 0; display:block}
    .land-induction-catalogue-filter-popup {position:fixed; left:0; top:0; right:0; bottom:0; z-index:99999; display:none; align-items:flex-end}
    .land-induction-catalogue-filter-popup,
    .land-induction-catalogue-filter-popup *,
    .land-induction-catalogue-filter-popup *::before,
    .land-induction-catalogue-filter-popup *::after {outline:none; box-sizing:border-box; font-family:Hotpoint, sans-serif; letter-spacing:0}
    .land-induction-catalogue-filter-popup-bg {position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.7)}
    .land-induction-catalogue-filter-popup-open .land-induction-catalogue-filter-popup {display:flex}
    .land-induction-catalogue-filter-popup-open,
    .land-induction-catalogue-filter-popup-open body {overflow:hidden; position:fixed; left:0; top:0; right:0; bottom:0}
    .land-induction-catalogue-filter-popup-container {width:100%; background:#222222; border:1px solid #323232; padding:15px; border-radius:8px 8px 0 0; position:relative}
    .land-induction-catalogue-filter-popup-header {display:flex; align-items:center; justify-content:space-between}
    .land-induction-catalogue-filter-popup-title {font-weight:500; font-size:14px; line-height:1.5em; color:#FFFFFF; text-transform:uppercase}
    .land-induction-catalogue-filter-popup-close {min-width:24px; height:24px}
    .land-induction-catalogue-filter-popup-close svg {display:block}
    .land-induction-catalogue-filter-popup-form {margin:20px 0 0 0; padding:20px 0; border-top:1px solid rgba(255, 255, 255, 0.1); border-bottom:1px solid rgba(255, 255, 255, 0.1)}
    .land-induction-catalogue-filter-popup-footer {margin:20px 0 0 0; display:flex; align-items:center; justify-content:space-between}
    .land-induction-catalogue-filter-popup-footer-close {display:flex; align-items:center; font-weight:500; font-size:12px; line-height:1em; text-transform:uppercase; color:rgba(255, 255, 255, 0.5); text-decoration:none}
    .land-induction-catalogue-filter-popup-footer-close svg {margin:0 5px 0 0}
    .land-induction-catalogue-filter-popup-footer-apply {display:flex; align-items:center; height:51px; border:1px solid #C99B69; padding:0 40px; color:#C99B69; text-decoration:none; font-weight:500; font-size:16px; line-height:1em; text-transform:uppercase; border-radius:4px}
}